<h3>
<%= link_to 'See All Skis!', '/skis/' %> |
<%= link_to 'See All Brands!', '/ski_makers/' %>
</h3>

<h1>All Skis</h1>

<% @skis.each do |ski| %>
<div id="ski-<%= ski.model %>"

  <h3>Model Name: <%= ski.model %></h3>
    <p><a>Ski Type: <%= ski.ski_type %></a><br>
      <a>Longest Size Available: <%= ski.longest_offered_cm %></a><br>
      <a>Symmetrical?: <%= ski.symmetrical %></a></p>
      <a> <%= link_to "Edit #{ski.model}", "/skis/#{ski.id}/edit" %></a><br><br>
       <a><%= link_to 'DELETE', "/skis/#{ski.id}", method: :delete %></a>
      <br>
      <h8>_______________________________</h8>
  </div>
<br>
<% end %>
