<%= link_to 'See All Skis!', '/skis/' %> | <%= link_to 'See All Brands!', '/ski_makers/' %>
<br>
<br>
<%= link_to 'Sort Alphabetically', "/ski_makers/#{@ski_maker.id}/skis?sort=alpha", method: :get %>
<br>
<br>

<%= form_with(url: "/ski_makers/#{@ski_maker.id}/skis?search=length", method: "get") do %>
  <%= label_tag(:length, "Show Skis Available Above This Length:") %>
  <%= text_field_tag(:length) %>
  <%= submit_tag("Only Return Skis Over This Length") %>
<% end %>


<h1><%= @ski_maker.company_name %></h1>
<% @skis.each do |ski| %>
  <h3> Model Name:<%= " #{ski.model}"%></h3><strong>Ski Type: </strong><%=" #{ski.ski_type}"%><br><strong>Longest Offered Size: </strong><%=" #{ski.longest_offered_cm}"%><br><strong>100% Symmetrical? </strong><%=" #{ski.symmetrical}"%><br>
  <a <br><%= link_to "Edit #{ski.model}", "/skis/#{ski.id}/edit" %></a> <br>
<% end %>
<br><br>
<%= link_to 'Create Skis', "/ski_makers/#{@ski_maker.id}/skis/new/"%>
