<h3>
<%= link_to 'See All Skis!', '/skis/' %>  |
<%= link_to 'See All Ski Makers!', '/ski_makers/' %>
</h3>
<h1><%= @ski_maker.company_name %></h1>
<p>Years Active: <%= @ski_maker.years_active %></p>
<p>Makes Snowboards?: <%= @ski_maker.makes_snowboards %></p>
<p>Skis Available: <%= @ski_maker.skis_count %></p>
<%= link_to 'See These Skis!', "/ski_makers/#{@ski_maker.id}/skis" %>
<br><br>
<%= link_to 'Edit This Brand', "/ski_makers/#{@ski_maker.id}/edit" %>
<br><br>
<%= link_to 'DELETE', "/ski_makers/#{@ski_maker.id}", method: :delete %>
