<h1><%= @ski_maker.company_name %></h1>
<% @skis.each do |ski| %>
  <h3> Model Name:<%= " #{ski.model}"%></h3><strong>Ski Type: </strong><%=" #{ski.ski_type}"%><br><strong>Longest Offered Size: </strong><%=" #{ski.longest_offered_cm}"%><br><strong>100% Symmetrical? </strong><%=" #{ski.symmetrical}"%><br>

<% end %>
